[submodule "analysis"]
	path = analysis
	url = https://github.com/HootingYard/analysis.git
[submodule "keyml"]
	path = keyml
	url = https://github.com/HootingYard/keyml.git
[submodule "ubercoordinator"]
	path = ubercoordinator
	url = https://github.com/HootingYard/ubercoordinator.git
